  <div class="input-group input-group-sm">
    <span class="input-group-addon">Add a</span>
    <span class="input-group-addon">
    <select class="form-control point-buffer-select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
      <option>55</option>
      <option>60</option>
      <option>65</option>
      <option>70</option>
      <option>75</option>
      <option>80</option>
      <option>85</option>
      <option>90</option>
      <option>95</option>
      <option>100</option>

    </select>
    </span>
    <span class="input-group-addon">
    <select class="form-control point-buffer-type-select">
      <option value="Ring">mile ring</option>
      <option value="DriveTime">minute drive time</option>
    </select>
    </span>
    <span class="input-group-addon">
    <span class="input-group-btn">
      <button class="btn btn-primary btn-add-buffer" type="button">Go!</button>
    </span>
    </span>
  </div>

