extends layout

block content
  script var agoToken=!{JSON.stringify(agoToken)};
  div#navBar.navbar.navbar-default.navbar-fixed-top
    div.navbar-header
      button(type='button',class='navbar-toggle',data-toggle='collapse',data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      form(class='navbar-form navbar-left',role='search')
        div.form-group
          input( type='text',id='searchInput', class='form-control search-input',placeholder='#{searchPrompt}')
        button(type='button',id='searchBtn',class='btn btn-default')
          span.glyphicon.glyphicon-search
    p.navbar-text.pull-right Signed in as #{userName}
  div.container.mapcontainer
    div#map
