extends chartlayout

block content
  script.
    var agoToken=!{JSON.stringify(agoToken)};
  include partials/bootstrap-navbar-partial
  div.row.data-container
    div#legendcontainer.col-md-4
    div#chartcontainer.col-md-8
