doctype 5
html
  head
    script var hash = window.location.hash; hash ? window.location.replace('/map?' + hash.substring(1)) : window.location.replace('https://www.arcgis.com/sharing/oauth2/authorize?client_id=HAUZGEI2hErOqSBS&response_type=token&redirect_uri=http://localhost.esri.com:3000/');
  body